* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Imagens/Fundo.jpg);
  background-repeat: no-repeat;
  background-color: #121214;
  background-position: top center;
  background-size: 100%;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
  animation: fromTop 0.7s 0.3s backwards;

  height: calc(120px +32px);
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  display: grid;
  gap: 24px;
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  margin-top: 32px;
}

main section {
  animation: fromBottom 0.7s 0.2s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.4s;
}

main section:nth-child(3) {
  animation-delay: 0.8s;
}

section {
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  padding-top: 4px;
  border-radius: 14px;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {
  width: 70px;
  border-radius: 50%;
  border: 1px solid #443e54;
}

h2 {
  color: #fff;
  letter-spacing: -0.47px;
}

p {
  color: #a1a1aa;
  letter-spacing: -0.18px;
}

/* animation */

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
